    .head{
       display: flex;
       background-color: black;
       justify-content:space-around;
       padding: 50px;
       padding-bottom: 220px;
       padding-top: 120px;
       border-top: 2px solid #fcf113;
    }

.head img{
    width:11%;
    /* text-align: left; */

}

.head ul li{
    /* list-style: none; */
}

.coopeGeneral {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

.coopeGeneral img{
    width: 60%;
}

.info{
    width: 55%;
    display: flex;
}
.info ul{
    list-style: none;
    padding: 20px;
}

.info li{
    line-height: 3;
    display: flex;
    gap: 5px;
    align-items: center;
}

.info svg{
    border-radius: 50%;
    padding: 3px;
    border: 1px solid white;
}

.info h3{
    line-height: normal;
    margin: 0;
    text-transform: uppercase;
}

@media (max-width: 480px) {
        .head{
       display: flex;
       flex-direction: column;
       align-content: center;
       align-items: center;
       margin: 0;
       padding: 10px;
    }
    .info{
        flex-direction: column;
        width: 100%;
    }
    .coopeGeneral {
    width: 80%;
    align-items: normal;
}
}